/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
[data-theme='dark'] {
  --ifm-color-primary: #2512af;
  --ifm-color-primary-dark: #21109e;
  --ifm-color-primary-darker: #1f0f95;
  --ifm-color-primary-darkest: #1a0d7a;
  --ifm-color-primary-light: #2914c1;
  --ifm-color-primary-lighter: #2b15c9;
  --ifm-color-primary-lightest: #3017e3;
  --ifm-background-color: #c8cad5;
}
/* You can override the default Infima variables here. */

